<div class="row mt-5">
  <div class="col-5 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-2x"></i></h1>
      <h6>Create an account or login</h6>
      <a href="/register" class="btn btn-primary mb-2">Register</a>
      <a href="/login" class="btn btn-success mb-2">Login</a>
    </div>
  </div>
</div>
